@font-face {
  font-family: avantgarde_medium;
  src: url("../css/web-fonts/AvantGardeLTMedium.woff2");
}
@font-face {
  font-family: avantgarde_bold;
  src: url("../css/web-fonts/AvantGardeLTMedium-Bold.woff2");
}
@font-face {
  font-family: cormorantGaramond;
  src: url("../css/web-fonts/CormorantGaramond-Medium.woff2");
}
@font-face {
  font-family: geometria;
  src: url("../css/web-fonts/geometria-webfont.woff2");
}
@font-face {
  font-family: geometria_medium;
  src: url("../css/web-fonts/geometria-medium-webfont.woff2");
}
@font-face {
  font-family: avantgarde_regular;
  src: url("../css/web-fonts/ITCAvantGardeGothicLTBook.woff2");
}
@font-face {
  font-family: opensans_light;
  src: url("../css/web-fonts/opensans-light-webfont.woff2");
}
@font-face {
  font-family: opensans;
  src: url("../css/web-fonts/opensans-regular-webfont.woff2");
}
@font-face {
  font-family: opensans_semibold;
  src: url("../css/web-fonts/opensans-semibold-webfont.woff2");
}

* {
  box-sizing: border-box;
}
html {
  overflow: auto;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    header {
      width: 100%;
      background-color: #ab192d;
      padding: 0;
      margin: 0;
      img {
        height: 10.5em;
        margin-left: 1.2em;
      }
      a {
        display: none;
      }
    }
    .navbtn {
      border: none;
      outline: none;
      background-color: #000;
      position: fixed;
      top: 5.2em;
      width: 3em;
      height: 3em;
      right: 2em;
      z-index: 10;
      div {
        position: absolute;
        height: 2px;
        width: 30px;
        transform: null;
        right: calc(50% - 15px);
        background-color: #fff;
        transition: 0.4s ease;
      }
      #btn_div_1 {
        top: 7px;
      }
      #btn_div_2 {
        top: calc(50% - 1px);
      }
      #btn_div_3 {
        bottom: 7px;
      }
    }
    nav {
      height: 100vh;
      position: fixed;
      display: block;
      top: 0;
      right: 0;
      z-index: 9;
      padding-top: 7em;
      width: 0;
      transition: 0.8s ease;
      background-color: rgba(6, 17, 27, 0.54);
      a {
        text-decoration: none;
        position: relative;
        color: white;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;
        font-family: "avantgarde_medium", sans-serif;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-size: 0.83em;
        padding: 1em 1.8em;
        margin: 1.5em 0;
        z-index: 9;
        transition: background-color 0.6s;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          z-index: -1;
          left: 100%;
          background-color: #ab192d;
          width: 100%;
          height: 100%;
          transition: left 0.4s ease;
        }
        &:hover {
          &::before {
            left: 0%;
          }
        }
      }
    }
    .slider {
      padding: 0;
      margin: 0;
      #fig {
        padding: 0;
        margin: 0;
        height: 25em;
        position: relative;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: cover;
        background-image: url("img/banner1.jpg");
        transition: background-image 1s;
        figcaption {
          background-color: rgba(0, 0, 0, 0.7);
          width: 70%;
          padding: 1.5em 1.2em;
          position: absolute;
          top: 10em;
          left: 1.6em;
          opacity: 0;
          transition: 1s;
          h2 {
            color: #c72d42;
            margin: 0;
            font-size: 1.10em;
            font-family: avantgarde_bold, sans-serif;
            font-weight: normal;
            text-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
          }
          h3 {
            font-size: 1em;
            margin: 0;
            margin-top: 1em;
            font-family: avantgarde_regular, sans-serif;
            color: white;
            font-weight: normal;
            line-height: 1.8em;
          }
        }
        .active_figc {
          opacity: 1;
          top: 7em;
        }
      }
      .btns {
        display: none;
      }
    }
    .about {
      padding: 1.9em;
      background-image: url("../img/hakkimizda-bg.jpg");
      background-size: contain;
      article {
        padding-top: 1.5em;
        h1 {
          font-size: 25px;
          line-height: 1.1em;
          width: 10em;
          font-family: cormorantGaramond, sans-serif;
          font-weight: 500;
          color: #414a52;
          &::after {
            content: "";
            display: block;
            margin-top: 0.8em;
            width: 50px;
            height: 2px;
            border-top: 3px solid black;
            border-bottom: 1px solid black;
          }
        }
        p {
          font-family: opensans_light, sans-serif;
          line-height: 28px;
          font-size: 1em;
          color: #414a52;
          padding-top: 1.6em;
        }
        button {
          border: 1px solid #ab192d;
          font-size: 1.25em;
          padding: 0.6em 0.75em;
          outline: none;
          margin-top: 1.17em;
          font-family: cormorantGaramond, sans-serif;
          background-color: inherit;
          color: #ab192d;
        }
      }
      figure {
        padding: 0;
        padding-bottom: 1.8em;
        margin: 0;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 0;
        height: auto;
        margin-top: 1.7em;
        img {
          margin: 0;
          padding: 0;
          width: 100%;
          display: inline-block;
        }
      }
    }
    .menu {
      display: none;
    }
    .why {
      padding: 1.9em;
      .h1 {
        font-size: 25px;
        line-height: 1.1em;
        display: block;
        margin-top: 0.1em;
        text-transform: uppercase;
        font-family: cormorantGaramond, sans-serif;
        font-weight: 500;
        color: #414a52;
        &::after {
          content: "";
          display: block;
          margin-top: 0.8em;
          width: 50px;
          height: 2px;
          border-top: 3px solid black;
          border-bottom: 1px solid black;
        }
      }
      figure {
        padding: 0;
        margin: 0;
        position: relative;
        margin: 1em 0;
        img {
          width: 100%;
          transition: filter 0.5s;
        }
        figcaption {
          text-transform: uppercase;
          font-family: avantgarde_medium, sans-serif;
          position: absolute;
          z-index: 8;
          top: 10%;
          right: 12%;
          h1 {
            color: #fff;
            font-size: 1.8em;
            padding: 0;
            font-weight: 400;
            margin: 0;
            &:after,
            &:before {
              content: "";
              overflow: hidden;
              position: absolute;
              width: 2px;
              height: 0;
              background-color: #fff;
            }
            &:after {
              bottom: -200%;
              right: -8px;
            }
            &:before {
              top: -50%;
              left: -8px;
            }
          }
          h2 {
            color: #000;
            padding: 0;
            font-size: 1.1em;
            padding: 0.25em;
            font-weight: 700;
            margin: 0;
            text-align: center;
            background-color: #fff;
          }
          &:before,
          &:after {
            content: "";
            height: 2px;
            width: 0;
            background-color: #fff;
            position: absolute;
            overflow: hidden;
          }
          &:before {
            right: -50%;
            top: -8px;
          }
          &:after {
            left: -50%;
            bottom: -8px;
          }
        }
        h4 {
          text-transform: initial;
          color: #fff;
          text-align: right;
          font-weight: 400;
          font-size: 0.85em;
          margin-top: 1.5em;
          font-family: avantgarde_medium, sans-serif;
          position: absolute;
          z-index: 8;
          top: 38%;
          opacity: 0;
          right: 12%;
          width: 70%;
          transition: opacity 0.5s;
        }

        figcaption::before,
        figcaption:after,
        figcaption h1::before,
        figcaption h1::after {
          transition: 0.5s;
        }
        &:hover {
          img {
            filter: brightness(30%);
          }
          h4 {
            opacity: 1;
          }
        }
        &:hover figcaption h1::before {
          height: 150%;
        }
        &:hover figcaption h1::after {
          height: 300%;
        }
        &:hover figcaption::before,
        &:hover figcaption:after {
          width: 150%;
        }
      }
    }
    footer {
      #map {
        width: 100%;
        height: 23em;
        margin-top: 3em;
        overflow: hidden;
      }
      .message {
        padding: 0.6em 2.3em;
        background-image: url("../img/contact-form-bg.jpg");
        background-position-x: 0%;
        background-position-y: 50%;
        background-size: cover;
        input,
        textarea,
        button {
          width: 100%;
          padding: 0.65em;
          margin: 1em 0 0 0;
          font-size: 0.95em;
          background-color: inherit;
          border: 1px solid #ccc;
          color: white;
          font-family: avantGarde_regular, sans-serif;
          font-weight: 300;
          outline: none;
          transition: 0.6s;
        }
        input,
        textarea {
          &:hover {
            border: 1px solid #a8171c;
          }
        }
        textarea {
          height: 6.4em;
        }
        button {
          width: 50%;
          background-color: #171717;
          border: none;
          margin-bottom: 1em;
          &:hover {
            background: #a8171c;
          }
        }
      }
      .contact {
        background-color: #252120;
        color: white;
        padding: 2.5em 1.9em;
        h2 {
          font-family: geometria_medium, sans-serif;
          font-weight: 400;
          font-size: 1.2em;
          padding: 0;
          margin: 0;
        }
        p {
          font-family: geometria, sans-serif;
          padding: 0;
          color: rgb(183, 183, 183);
          line-height: 1.4em;
          margin: 0;
          a {
            text-decoration: none;
            color: rgb(183, 183, 183);
          }
        }
      }
    }
  }
}
